---
- name: "Test playbook run"
  hosts: localhost
  tasks:
    - name: "Debug"
      ansible.builtin.debug:
        msg: "Test debug"
        
    - name: Get new organization id
      ansible.builtin.shell: |
        grep 'New organization id' $(ls /Users/aleksandrdiptan/Downloads/import_*.log | grep -v 'errors') | awk '{print $8}'
      register: hf2hf_import_organization_id
    
    - name: Set fact organization id
      ansible.builtin.set_fact:
        hf2hf_new_organization_id: "{{ hf2hf_import_organization_id.stdout }}"

    - name: Print id
      ansible.builtin.debug:
        msg: "{{ hf2hf_new_organization_id }}"
        
    - name: Get organization_id from server
      ansible.builtin.fetch:
        src: "{{ item }}"
        dest: /{{ lookup('env','WORKSPACE') }}/
        flat: true
      with_items:
        - "/tmp/104279.orgid"
        - "/tmp/import_1042791.log"

    - name: Get filename
      ansible.builtin.shell: | 
        ls -lh /Users/aleksandrdiptan/ | grep 'tmp.log' | awk '{print $9}'
      register: import_get_hf_xlsx_filename

    - name: Set fact filename
      ansible.builtin.set_fact:
        import_hf_xlsx_filename: "{{ import_get_hf_xlsx_filename.stdout[1] }}"
