---
- name: "Test playbook run"
  hosts: localhost
  become: no
  tasks:
    - name: Write log to file
      ansible.builtin.shell: |
        echo "123" {% if write_log_to_file | bool %}>> /Users/aleksandrdiptan/Documents/1.log{% endif %} 
        
